


@media screen and (max-width: 1024px) {

    .checkbtn {
        display: block;
        margin-top: 5px;
    }

    nav ul {
        position: fixed;
        right: -100%;
        top: 85px;
        width: 30%;
        height: 100vh;
        background: #060c22;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li {
        display: block;
        margin: 0;
        padding: 0;
    }
    nav ul li .link {
        display: block;
        padding: 10px 0;
        font-size: 1em;
        font-weight: normal;
        border: none;
    }
    nav ul li .link:hover {
        border: none;
        background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.8));
    }
    #check:checked ~ ul {
        right: 0;
    }

    .schedule-content {
        width: 100%;
    }
    .schedule-time {
        width: 100px;
    }
    .schedule-detail {
        float: none;
    }  
    .schedule-text {
        float: none;
        margin-left: 75px;
    }
    .accordion-box {
        margin: 0;
    } 

}

@media screen and (max-width: 768px) {

    header {
        padding: 10px 0;
    }
    nav ul {
        top: 55px;
    }
    #showcase h1 {
        font-size: 3em;
    }

    #about article,
    #about aside {
        float: none;
        width: 100%;
        padding: 0;
        margin: 25px 0;
    }

    .speakers-box {
        float: left;
        width: 48%;
        margin: 8px 1%;
    }

    .venue-box {
        float: none;
        width: 100%;
        padding: 100px;
    }
    .venue-gal-box {
        width: 50%;
        border: 3px solid #fff;
    }
    .hotel-box {
        float: left;
        width: 46%;
        margin: 20px 2%;
        background: #fff;
    }

    .sponsors-box {
        width: 50%;
    }
    .ticket-box {
        float: none;
        width: 80%;
        margin: 50px auto;
    }

    .contact-box {
        float: none;
        width: 100%;
    }
    .contact-box:nth-child(2) {
      border: none;
    }

    .contact-form .name,
    .contact-form .email  {
        float: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-box {
        width: 50%;
        margin-bottom: 50px;
    }
    .footer-box:first-child,
    .footer-box:last-child {
        width: 100%;
    }

}


@media screen and (max-width: 600px) {
    nav ul {
        width: 50%;
    }
    #about .about-box,
    .speakers-box,
    .schedule-time,
    .venue-gal-box,
    .hotel-box,
    .footer-box {
        float: none;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
    }
    .newsletter-form {
        width: 300px;
        margin: 0 auto;
    }
    .newsletter-form input[type="email"] {
        width: 300px;
    }
    .newsletter-form button {
        margin: 15px auto;
        padding: 10px 30px;
        display: block;
    }
}